.admin-activity-today{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    padding: 2%;
}
.admin-activity{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    width: 100%;
    gap: 1%;

}
.admin-activity-item{
    box-sizing: border-box;
    width: 49.5%;
    border-radius: 15px;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.admin-activity-today-hearder-flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    width: 100%;
}
.admin-activity-today-hearder-box{
    box-sizing: border-box;
    width: 50%;
}
.icon-activity{
    width: 26px;
    margin-top: -3px;
}
.btn-activity{
    padding: 10px 50px;
    background-color: #263A50;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
}
.admin-activity-add{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    padding: 2%;
}
.admin-activity-add-hearder-flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    width: 100%;
}
.admin-activity-today-hearder-box{
    box-sizing: border-box;
    width: 50%;
   
}
.admin-img-activity{
    width: 100%;
}
.admin-activity-form{
    padding: 0px 30px ;
}
.acivity-detail{
    display: block;
    width: 100%; 
    border-radius: 5px;
    color: #263A50;
}
.input-activity-img{
    border: 1px solid #0a0f157a;
    height: 40px;
    margin-bottom: 10px;
    width: 30%;
    margin-left: 70%;
    
    color: #263A50 !important;
    
    
}
.admin-activity-queue{
    border-radius: 8px;
    border: 2px solid #263A50;
    text-align: center;
    padding: 7px 20px;
    font-size: 18px;
    margin: 0px 5px;
    width: 200px;
}
.admin-activity-queue.focus{
    background-color: #263A50 !important;
    color: #ffffff !important;
}
.admin-activity-form-register{
    margin-top: 30px;
    background-color: #eef2f7;
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
}
.admin-activity-form-register-box{
    box-sizing: border-box;
    width: 50%;
    padding: 2%;
}
.admin-activity-input{
    display: inline;
    border: 1px solid #0a0f157a;
    height: 38px;
    width: 200px;
    margin-bottom: 10px;
    color: #263A50;
}

.admin-activity-label{
    margin-right: 20px;
    width: 5%;
    margin-top: -15px;

}
.admin-activity-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
}
.admin-activity-container-item{
    box-sizing: border-box;
    width: 50%;
}
.admin-activity-container-btn{
    height: 40px;
    background-color: #263A50;
    color: #FBFFFF;
    padding: 0px 20px;
    border-radius: 5px;
    border: 0px solid #12121200;
    margin-left: 110px;
    font-size: 18px;
}
.admin-activity-preview{
    text-decoration: none;
    color: #263A50;
    cursor: pointer;
}
.icon_preview{
    margin-top: -3px;
}
.admin-activity-remove-btn{
    height: 40px;
    background-color: #DC2626;
    color: #FBFFFF;
    padding: 0px 30px;
    border-radius: 5px;
    border: 0px solid #12121200;
    margin-left: 110px;
    font-size: 18px;
}
#th_id_acticity, #th_name_acticity, #th_tel_acticity, #th_email_acticity{
    width: 25%;
}
.admin-activity-queue-flexbox{
    /* background-color: #EEF2F7; */
    width: 100%;
    /* height: 640px;
    border-radius: ; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:  center;
    align-items: stretch;
    box-sizing: border-box;
    gap: 30px;
    
}
.admin-activity-queue-flexbox-box{
    box-sizing: border-box;
    width: 35%;
    background-color: #EEF2F7;
    padding: 20px;
    border:1px solid #263A50;
    border-radius: 10px;
    height: 640px;
}
.admin-activity-queue-flexbox-box p{
    padding: 0px;
    margin: 0;
}
.admin-activity-queue-btn{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    gap: 2%;
    width: 100%;
}
.admin-activity-queue-btn-box{
    width: 49%;
    box-sizing: border-box;
}
.admin-activity-queue-cards{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    height: 70px;
    border-radius: 5px;
    margin: 10px 0px;
}
.admin-activity-queue-card1{
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    border-right: 3px solid #263A50;
}
.admin-activity-queue-card2{
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    justify-content:start;
    align-items: center;
    width: 80%;
    padding-left: 20px;
}
.admin-activity-queue-cards-all{
    overflow-y: scroll;
    padding-right: 10px;
    height: 280px;
}
.admin-activity-queue-cards-all1{
    overflow-y: scroll;
    padding-right: 10px;
    height: 550px;
}
.admin-activity-queue-cards-all::-webkit-scrollbar {
    width: 5px; 
    margin: 5px;
}
.admin-activity-queue-cards-all::-webkit-scrollbar-thumb {
    background-color: #263A50;
    border-radius: 5px;
}
.admin-activity-queue-cards-all::-webkit-scrollbar-track {
    background-color: #D1D1D1;
    border-radius: 5px;
}
.admin-activity-queue-cards-all1::-webkit-scrollbar {
    width: 5px; 
    margin: 5px;
}
.admin-activity-queue-cards-all1::-webkit-scrollbar-thumb {
    background-color: #263A50;
    border-radius: 5px;
}
.admin-activity-queue-cards-all1::-webkit-scrollbar-track {
    background-color: #D1D1D1;
    border-radius: 5px;
}