
    body{
        width: 100%;
        padding:0%;  
    }
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1.5em;
    }
    h3{
        font-size: 1.3em;
    }
    h4{
        font-size: 1.17em;
    }
    h5{
        font-size: 1.0em;
    }
    h6{
        font-size: 0.83em;
    }
    .textBody-big{
        font-size: 16px;
        font-weight: light;
    }
    .textBody-large{
        font-size: 14px;
        font-weight: 200;
    }
    .textBody-medium{
        font-size: 14px;
        font-weight: 300;
    }
    .grey-cantselect{
        filter: grayscale(1);
    }
    .textBody-small{
        font-size: 12px;
        font-weight: 300;
    }
    .textBody-huge{
        font-size: 18px;
        font-weight: 400;
    }
    .textButton-Normal{
        font-size: 18px;
        font-weight: 500;
    }
    .textButton-Normal2{
        font-size: 20px;
        font-weight: 500;
    }
    .colorPrimary-50{
        color: #eef2f7;
    }
    .colorPrimary-100{
        color: #dce5ef;
    }
    .colorPrimary-200{
        color: #eef2f7;
    }
    .colorPrimary-300{
        color: #9BB4CF;
    }
    .colorPrimary-400{
        color: #7C9DC1;
    }
    .colorPrimary-500{
        color: #5983B0;
    }
    .colorPrimary-600{
        color: #456A91;
    }
    .colorPrimary-700{
        color: #365372;
    }
    .colorPrimary-800{
        color: #263A50;
    } 
    .colorPrimary-900{
        color: #141E29;
    } 
    .colorPrimary-950{
        color: #263A50;
    } 
    .colorNeutralBlack-50{
        color: #F2F2F2;
    }
    .colorNeutralBlack-100{
        color: #E8E8E8;
    }
    .colorNeutralBlack-200{
        color: #D1D1D1;
    }
    .colorNeutralBlack-300{
        color: #BABABA;
    }
    .colorNeutralBlack-400{
        color: #A1A1A1;
    }
    .colorNeutralBlack-500{
        color: #8A8A8A;
    }
    .colorNeutralBlack-600{
        color: #737373;
    }
    .colorNeutralBlack-700{
        color: #5C5C5C;
    }
    .colorNeutralBlack-800{
        color: #444444;
    }
    .colorNeutralBlack-900{
        color: #212121;
    }
    .colorNeutralBlack-950{
        color: #121212;
    }
    .colorNeutralBlue-50{
        color: #FBFFFF;
    }
    .colorNeutralBlue-100{
        color: #E0FFFF;
    }
    .colorNeutralBlue-200{
        color: #ADFFFF;
    }
    .colorNeutralBlue-300{
        color: #7AFFFF;
    }
    .colorNeutralBlue-400{
        color: #47FFFF;
    }
    .colorNeutralBlue-500{
        color: #1AFFFF;
    }
    .colorNeutralBlue-600{
        color: #00E6E6;
    }
    .colorNeutralBlue-700{
        color: #47FFFF;
    }
    .colorNeutralBlue-800{
        color: #47FFFF;
    }
    .colorNeutralBlue-900{
        color: #47FFFF;
    }
    .colorNeutralBlue-950{
        color: #47FFFF;
    }
    .colorSecondary-50{
        color: #F4FAFA;
    }
    .colorSecondary-100{
        color: #EAF5F5;
    }
    .colorSecondary-200{
        color: #D5ECEC;
    }
    .colorSecondary-300{
        color: #C0E2E2;
    }
    .colorSecondary-400{
        color: #ABD9D8;
    }
    .colorSecondary-500{
        color: #96CFCF;
    }
    .colorSecondary-600{
        color: #80C6C5;
    }
    .colorSecondary-700{
        color: #68BBBA;
    }
    .colorSecondary-800{
        color: #68BBBA;
    }
    .colorSecondary-900{
        color: #295B5B;
    }
    .colorSecondary-950{
        color: #152E2D;
    }
    .form-control::placeholder {
        font-size: 16px;
        font-weight: 300;
        color: #BABABA; 
    }
    .form-control{
        border: 1px solid #0a0f157a;
        height: 40px;
        margin-bottom: 10px;
        color: #263A50 !important;
    }
    .center{
        width: 100%;
        text-align: center;
    }
    hr{
        border: 3px solid #1b1b1b;
        border-radius: 5px;
    }
    .btn-secondary{
        height: 43px;
        width: 100%;
        border-radius: 8px;
        border: 1px solid #444444;
        color: #444444;
        background-color: #F4FAFA;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    .btn-primary{
        height: 43px;
        width: 100%;
        border-radius: 8px;
        border: 0px solid #ffffff;
        color: #F2F2F2;
        background-color: #263A50;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    /* .btn .btn-primary:hover{
        background-color: #263a50;
    } */
    .btn-primary:active{
        background-color: #263A50;
    }
    select{
        height: 40px;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #0a0f157a;
        font-size: 16px;
        font-weight: 300;
        color: #BABABA; 
        padding: 0px 10px;
        margin-bottom: 10px;
        background-color: #ffffff;
    }
    select.selected{
        font-size: 18px;
        font-weight: 400;
        color: #263A50; 
    }
    option{
        color: #263A50;
    }
    select.selected option:checked{
        background-color: #ABD9D8;
        color: #263A50;
    }
    input[disabled]{
        background-color: #BABABA;
    }
    .logo{
        width: 100px;
        height: 65px;
        margin-bottom: 10px;
    }
    .admin-textBody-big{
        font-size: 20px;
        font-weight: 300;
    }
    .admin-time{
        display: flex;
        justify-content: right;
    }
    .admin-textBody-large{
        font-size: 21px;
        font-weight: 400;
    }
    .admin-textBody-medium{
        font-size: 16px;
        font-weight: 400;
    }
    .admin-textBody-small{
        font-size: 16px;
        font-weight: 300;
    }
    .admin-textBody-small2{
        font-size: 14px;
        font-weight: 300;
    }
    .admin-textBody-huge{
        font-size: 18px;
        font-weight: 400;
    }
    .admin-textBody-huge2{
        font-size: 18px;
        font-weight: 300;
    }
    .admin-textButton-Normal{
        font-size: 18px;
        font-weight: 500;
    }
    .user{
        width: 100%;
        margin: 0px;
        
    }
    .user-header {
        background: #008080;
        border-radius: 0px 0px 20px 20px;
        padding: 8px;
        padding-left: 6%;
        color: #FFF;
        width: 100%;
        height: 133px;
        position: fixed;
        z-index: 2;
        top:0px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        
        
    }
    .user-header h2,.user-header h3{
        margin: 0;
        margin-top: 20px;
    }
    .user-header h3{
        margin: 0;
        margin-top: 10px;
    }
    .user-body{
        margin-top: 160px;
        /* padding: 5px; */
    }
    .admin-header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        box-sizing: border-box;
        width:  100%;
    
    }
    .admin-hearder-item{
        box-sizing: border-box;
        width: 50%;
    }
    .admin-right{
        text-align: right;
    }
    .admin{
        margin: 0% 4% 1% 4%;
    
    }
    .admin-body{
        margin: 2% 0%;
    
    }
    .admin-header  a{
        padding: 10px 20px;
        background-color: #263A50;
        color: #FBFFFF;
        text-decoration: none;
        margin-right: 10px;
        border-radius: 50px;
        font-size: 18px;
        cursor: pointer;
    }
    .user-home{
        padding: 0% 3%;
        /* display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        box-sizing: border-box;
        gap: 3%; */
    }
    .user-home-proflie{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        box-sizing: border-box;
        width: 100%;
        min-height: 80px;
        background-color: #F2F2F2;
        border-radius: 15px;
        box-shadow:  rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin: 5px 0px 20px 0px;
        padding: 10px;

    }
    .user-home-proflie-box{
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        

    }
    .user-home-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        box-sizing: border-box;
        gap: 3%;
        width: 100%;
        height: 90vw;
        margin-bottom: 20px;
    }
    .user-home-list a{
        width: 31.3%;
        box-sizing: border-box;
        margin-bottom: 0%;
        background-color: #263A50;
        border-radius: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        height: 31.3%;
        color: #ffffff;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
        padding:5px;

    }
    .user-home-list a p{
        margin: 0;
        font-size: 14px;
    }
    .user-home-list a img{
        width: 35px;
        margin-bottom: 8px;
        
    }
    .loading-spinner{
        position: absolute;
        top: 50%; right: 50%;
        transform: translate(50%,-50%);
    }
    .user-home-hcu{
        width: 100%;
        border-radius: 15px;
        margin-bottom: 20px;
    }
    .user-home-profile-img{
        width: 58px;
        height: 58px;
        background-color: #ffffff;
        border-radius: 50px;
    }
    .hide {
        display: none;
      }
@media (max-width: 290px) {
    .user-home-list a p{
        margin: 0;
        font-size: 10px;
    }
    .user-home-list a img{
        width: 30px;
        margin-bottom: 8px;
    }
    h2{
        font-size: 1.3em;
    }
    h3{
        font-size: 1.0em;
    }
    .admin-textBody-huge{
        font-size: 14px;
    }
    .user-home-profile-img{
        width: 45px;
        height: 45px;
    }
}
@media (min-width: 600px) {
    .user-home-list a{
        padding: 10px;
    }
    .user-home-list a p{
        margin: 0;
        font-size: 18px;
    }
    .user-home-list a img{
        width: 45px;
        margin-bottom: 8px;
    }

}
@media (min-width: 1025px) {
    .user{
        width: 48%;
        margin: 0px 26%;
        /* max-width: 500px;
        min-width: 500px; */
    }
    .user-header {
        width: 48%;
        padding-left: 4%;

    }
    .user-home-list{
        height: 42vw;
    }
    .user-home-list a{
        padding: 5px;
    }
    .user-home-list a p{
        margin: 0;
        font-size: 18px;
    }
   
}

@media (min-width: 1200px) {
    .user{
        width: 40%;
        margin: 0px 30%;
        /* max-width: 500px;
        min-width: 500px; */
  
    }
    .user-header {
        width: 40%;
        padding-left: 3%;
        /* max-width: 500px;
        min-width: 500px; */
    }
    .user-home-list{
        height: 35vw;
    }
    .user-home-list a{
        padding: 10px;
    }
    .user-home-list a p{
        margin: 0;
        font-size: 20px;
    }
    
}
@media (min-width: 1400px) {
    .user{
        margin: 0px 30%;
    }
   
}
