@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;700&display=swap");
.user{
    font-family: 'Mitr';
}
.gap-16 {
    margin-bottom: 16px;
}
.gap-8 {
    margin-bottom: 8px;
}
.user-Activity_title{
    color: #263A50;
}
.user-Activity_container{
    margin-left: 5%;
    margin-right: 5%;
}
.user-Activity_container{
    width: 90%;
}
.user-Activity_tab_container{
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    border: #263A50;
    background-color: #96CFCF;
    margin-bottom: 20px;
}
.user-Activity_label{
    padding: 4% ;
    cursor: pointer;
    width: 50%;
    height: 10%;
}
.user-Activity_label h4{
    margin: 0;
}
#user-Activitty_tab_all {
    border-top-left-radius: 20px;
    background-color: #EAF5F5;
    color: #737373
}
#user-Activitty_tab_registed{
    border-top-right-radius: 20px;
    background-color: #EAF5F5;
    color: #737373
}
.user-Activity_tab_radio{
    display: none;
}
.user-Activity_tab_all_content{
    margin-top: 16px;
    /* padding-top: 16px; */
    order: 1;
    width: 100%;
    display: none;
    height: 65vh;
    overflow: hidden;
    overflow-y: scroll;
}
.user-Activity_tab_radio:checked + .user-Activity_label{
    color: #263A50 !important;
    background-color: #96CFCF !important;
}
.user-Activity_tab_radio:checked + .user-Activity_label + .user-Activity_tab_all_content{
    display: initial;
}
.user-Activity_card{
    margin-left: 16px;
    margin-right: 16px;
    background-color: #FBFFFF;
    color: #263A50;
    text-decoration: none;
    box-shadow: 1px 5px 5px rgba(0,0,0,0.25);
    border: 0px solid #12121200;
    padding: 16px;
    border-radius: 20px;
    /* height: 22.%; */
    cursor: pointer;
}
.user-Activity_card p{
    margin: 0;
}
#user-Activity_card_date{
    margin-bottom: 8px;
}

.user-Activity_ticket_text{
    margin: 0;
}
.user-Activity_card_registed_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
    background-color: #FBFFFF;
    color: #263A50;
    box-shadow: 1px 5px 5px rgba(0,0,0,0.25);
    border: 0px solid #12121200;
    padding: 16px;
    border-radius: 20px;
    /* height: 25%; */
}
#user-Activity_card-registed{
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: center;
    margin: 0;
}
.user-Activity_ticket_btn{
    background-color: #263A50;
    border-radius: 12px;
    border: none;
    width: 25%;
    color:#FBFFFF;
}
#user-ticket_disabled {
    color: #E8E8E8;
    background-color: #A1A1A1;
    pointer-events: none;
}
#user-Activity_card_time{
    margin: 0;
}