.user-body-infomation{
    width: 100%;
    padding: 0 5%;
}
.user-card-infornation-flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    box-sizing: border-box;
    width:  100%;
    border-radius: 8px;
    margin-top: 15px;
    height: 120px;
}
.user-card-infornation-box-img{
    box-sizing: border-box;
    width: 40%;
    height: 120px;
    overflow: hidden;
}
.user-card-infornation-box-img img{
    width: 100%;
    border-radius: 8px 0px 0px 8px;
    height: auto;
}
.user-card-infornation-box-name{
    padding: 10px 5%;
    box-sizing: border-box;
    width: 60%;
    background-color: #263A50;
    color: #ffffff;
    border-radius: 0px 8px 8px 0px;
}
.user-body-infomation-preview{
    width: 100%;
    padding: 0 5%;
}
.user-body-infomation-preview p{
    word-wrap: break-word
}
.user-information-preview-img{
    width: 100%;
    margin-bottom: 10px;
}

@media (min-width: 600px) and (max-width: 1025px) {
    .user-card-infornation-flexbox{
        height: 150px;
    }
    .user-card-infornation-box-img{
        width: 30%;
    }
    .user-card-infornation-box-img img{
        height: 150px;
    }
    .user-card-infornation-box-name{
        width: 70%;
    }
}