@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;700&display=swap");
.user{
    font-family: 'Mitr';
}
.gap-16 {
    margin-bottom: 16px;
}
#user-event-body{
    padding: 0;
}
.user-activity-vaccine_image{
    width: 100%;
    height: 20vh;
    margin-top: -40px;
    padding: 0;
}
.user-body-activity-detail{
    padding: 5px;
}
.user-activity-vaccine_title_container{
    color: #263A50;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}
.user-activity-vaccine_detail_container{
    color: #263A50;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}
.user-activity-vaccine_date_container{
    color: #263A50;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}
.user-activity-vaccine_date{
    color: #263A50;
}
.user-activity-vaccine_button_container{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}
.user-activity-vaccine_image1{
    width: 100%;
    height: 25vh;
    padding: 0;
}